@import "~appStyles/commonStyle.scss";
@import "~appStyles/variableColor.scss";

.notify {
  background-color: #fffbcf;
  padding: 8px 10px;
  border-radius: 3px;
  line-height: 18px;
  display: inline-block;

  .notifyIcon {
    float: left;
    font-size: 14px;
    margin-right: 10px;
    color: $color-mildgrey;
  }
  .notifyContent {
    float: left;
    font-size: 13px;
    color: $color-black;
  }
  .notifyCloseButton {
    float: left;
    margin-left: 30px;
    margin-right: 5px;
    font-size: 10px;
    color: $color-mildgrey;
  }
}
