@import "~appStyles/commonStyle.scss";

.publishBody {
  border: 1px solid #ccc;
  margin: 100px auto 0 auto;
  padding: 30px;
  background: #fff;
  width: 722px;

  .notifyLearners {
    line-height: 16px;

    .notifyLearnersCheckbox {
      display: inline-block;
      vertical-align: middle;
      margin-top: 1px;
    }
    .notifyLearnersText {
      color: #1a2532;
      font-size: 13px;
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
    }
  }
  .submitBtnField {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  .popUpHeading {
    font-size: 14px;
    color: $color-black;
    padding-bottom: 15px;
  }
}
