.taskIcon {
  color: #999;
  &.success:before {
    background-color: #6bcb65;
    color: #fff;
    border-radius: 10px;
  }
}

.locked{
  border-radius: 50%;
  border: 1px solid #999;
  padding:3px;
  font-size: 8px;
  color: #999;

}

.lockedCompleted{
  border-radius: 50%;
  border: 1px solid #6bcb65;
  padding:3px;
  font-size: 8px;
  color: #fff;
  background-color: #6bcb65;
}

.taskCompltedIcon {
  color: #77bf86;
}
.taskLocked {
  color: #999;
}
.taskSendForApproval {
  color: #999;
}
.sidebarMenu{
  p, li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
