@import "~appStyles/commonStyle.scss";

.lm_header {
  vertical-align: middle;
  text-align: left;
  @include clearfix;
}

.lm_groupCell {
  position: relative;
  .lm_groupsMore {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
  }
}
.lm_noLearnerText {
  color: #999999;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
}
.lm_noLearnerMsg {
  color: #999999;
  font-size: 13px;
  text-align: center;
}

.lm_loadMore {
  margin: 20px 0;
  min-height: 20px;
  position: relative;
}

:global {
  .lm_multifilter {
    padding-bottom: 20px;
    ul {
      .checkboxWrapper {
        margin-right: 8px;
      }
    }
    .filterOptionsDrpdown-ds {
      margin-right: 20px;

      .btn {
        padding-right: 20px;
      }
      .caret {
        position: absolute;
        right: 0px;
        top: 15px;
      }
    }
    .multifilterDropdown {
      width: 30%;
      display: inline-block;
      .openSearch-input {
        padding-right: 20px;
        line-height: 32px;
      }

      .close-icon {
        right: -11px;
        top: 11px;
      }
    }
  }

  .learnerNotSelectedDD {
    float: left;
    display: inline-block;
    .filterOptionsPanelDrpdown {
      padding: 10px 10px 10px 0;
      border-right: 1px solid #ddd;
      float: left;
      display: inline-block;
      width: 85px;

      .caretStyle {
        .caret {
          position: absolute;
          right: 0px;
          top: 9px;
        }
      }
      .dropdown-menu {
        @include margin(0, 0, 0, 0);
        width: 100%;
        left: 0px;
        max-height: 140px;
        overflow-y: auto;
      }
    }
  }
  .modalAllInvited {
    height: 100vh;
    @include z-index(modal);
    .modal-footer {
      padding: 20px 0;
      line-height: 20px;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: #fff;
    }

    .modalHeader {
      @include margin(0, 0, 30px, 0);

      .modalHeader--title {
        color: #000;
        font-size: 18px;
        line-height: 22px;
      }
      .modalHeader--subTitle {
        color: #999;
        font-size: 14px;
        line-height: 18px;
        margin-top: 8px;
      }
    }
    .modal-content {
      height: calc(100vh);
      position: relative;
    }
    .modal-body {
      border-bottom: none;
      overflow: auto;
      height: calc(100vh - 190px);

      .lm_learnerListing {
        margin: 0 auto;
        width: 1024px;

        th {
          padding: 10px 0px 10px 20px;
        }

        td {
          padding: 10px 0px 10px 20px;
        }
      }
    }
  }
}

table {
  border-spacing: 0px;
  @include margin(0, auto, 0, auto);

  tr {
    font-size: 13px;
  }

  tr th {
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    vertical-align: middle;
    font-weight: normal;
  }
  tr td {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  tr:hover {
    background: #f1f1f1;
  }
}
