$left-col-width: 432px;
$right-col-width: 740px;
$right-col-margin-left: 8px;
$rule-container-width: calc(
  #{$left-col-width} + #{$right-col-width} + #{$right-col-margin-left}
);
$rule-container-p-y: 32px;
$rule-container-p-x: calc(50vw - #{$rule-container-width/2});

$body-header-height: 50px;
$rule-header-height: 28px;
$rule-header-p-y: 24px;
$rule-header-p-x: 8px;
