@import "~appStyles/commonStyle.scss";

$descLineHeight: 1.3em;
$descLines: 3;
$bgActive: rgba(74, 144, 226, 0.15);
$bgHover: #f5f6f7;

.ruleItem {
  padding: 4px 8px;

  .paneName {
    color: #2a2e36;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;

    @include truncate(85%);
  }

  .paneDesc {
    color: #5d6067;
    font-size: 14px;
    @include multiLineEllipsis($descLineHeight, $descLines);
  }

  .paneDetails {
    color: #5d6067;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include multiLineEllipsis(1.2em);

    span {
      white-space: pre-wrap;
    }
  }
}

.paneContainer {
  border-radius: 8px;
  padding: 12px 24px 18px 24px;
}

.paneContainer:hover {
  background-color: $bgHover;
}

.ruleItemActive {
  position: relative;
}

.ruleItemActive .paneContainer {
  background-color: $bgActive;
}

.paneInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.arrowLeft {
  position: absolute;
  right: -9px;
  top: 45%;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ffffff;
  border-top: 8px solid transparent;
  height: 0;
  width: 0;
}
