$z-index: (
  getSupport: 99999,
  editableInput: 9800,
  scroller: 9830,
  treeCheckbox: 9840,
  accordian: 9850,
  inviteTrigger: 10,
  dropdown: 9860,
  absolute: 9870,
  errorPageStyle: 9880,
  buildFadeBg: 9890,
  checklistArea: 9900,
  dropdownMenu: 9910,
  modalMask: 9911,
  modalWrapper: 9912,
  popover: 9940,
  tooltip: 9950,
  modal: 9960,
  toast: 9990,
  loader: 9990,
  calendar: 9990,
  iframe: 9990
);
@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
