$status-inactive: #888;
$status-active: #72c084;

.statusContainer {
  color: $status-inactive;
  display: inline-flex;
  align-items: center;
}

.isActive {
  color: $status-active;

  .stIcon {
    background: $status-active;
  }
}

.stIcon {
  background: $status-inactive;
  border-radius: 8px;
  height: 8px;
  width: 8px;
}

.stDisplayName {
  font-size: 11px;
  margin-left: 5px;
}
